<template>
  <aside>
    <nav>
      <nuxt-link
        v-for="page in filteredPages"
        :key="page.title"
        :to="page.to"
        class="page"
      >
        <v-icon>{{ page.icon }}</v-icon>
        <span class="page__title">{{ page.title }}</span>
      </nuxt-link>
    </nav>
    <div class="dialogs">
      <span class="dialog bug-report" @click="reportBug = true">
        <v-icon>mdi-bug</v-icon>
        <span class="dialog__title">Rapporter une erreur</span>
      </span>
      <span class="dialog ask-help" @click="askQuestion = true">
        <v-icon>mdi-help-circle-outline</v-icon>
        <span class="dialog__title">Une question ?</span>
      </span>
    </div>
    <v-dialog v-model="askQuestion" max-width="800px">
      <AskQuestion />
    </v-dialog>
    <v-dialog v-model="reportBug" max-width="800px">
      <BugReport />
    </v-dialog>
  </aside>
</template>

<script lang="ts" setup>
import { isDesktop } from "~/utils/device/device.utils";
import { pages } from "~/utils/pages/navigation";

const userStore = useUserStore();

const askQuestion = ref(false);
const reportBug = ref(false);

const filteredPages = computed(() =>
  pages.filter(({ permission, mobileSupport }) => {
    const isSupportedByDevice = isDesktop() || mobileSupport;
    const hasAccess = userStore.can(permission);

    return isSupportedByDevice && hasAccess;
  }),
);
</script>

<style lang="scss" scoped>
$background-color: $white;

aside {
  position: fixed;
  box-shadow:
    0 2px 4px 0px rgba(0, 0, 0, 0.4),
    0 4px 5px 0 rgba(0, 0, 0, 0.34),
    0 1px 10px 0 rgba(0, 0, 0, 0.32);
  top: $header-height;
  z-index: 8;
  height: calc(100vh - #{$header-height});
  overflow-y: auto;
  @media only screen and (max-width: $mobile-max-width) {
    position: fixed;
    bottom: 0;
    top: unset;
    height: unset;
    width: 100%;
    .dialogs {
      border-left: 2px solid #756a46;
      display: flex;
    }
    .v-icon {
      font-size: 36px;
    }
  }
  @media only screen and (max-width: $mobile-max-width) {
    flex-direction: row;
  }
  background-color: $background-color;
  min-width: 35px;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    .page__title,
    .dialog__title {
      transition: max-width 0.5s;
      max-width: 200px;
    }
  }

  .dialog,
  .page {
    padding: 5px;
    &:hover {
      cursor: pointer;
      background-color: change-color(
        $color: $background-color,
        $blackness: 60%
      );
    }
    display: flex;
    gap: 3px;
    &__title {
      transition: max-width 0.5s;
      overflow: hidden;
      max-width: 0px;
      max-height: 24px;
      @media only screen and (max-width: $mobile-max-width) {
        display: none;
      }
    }
  }

  nav {
    a {
      text-decoration: none;
      color: black;
    }
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: $mobile-max-width) {
      flex-direction: row;
      max-width: 80%;
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }
}
</style>
~/utils/pages/list
